/* VARIABLES*/

:root {
    --texto-principal: "Inter", sans-serif;
    --color-texto: rgb(0, 0, 0);
    --color-primario:white;
    --color-nav: rgb(34, 70, 0);
    --tamañotexto-principal: 16px;
    --color-secundario: rgb(246, 252, 198);
    --color-modoOscuro:black;

}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: var(--texto-principal), sans-serif;
    font-size: var(--tamañotexto-principal);
    line-height: 1.6;
    /*max-width: 1800px;*/
    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--color-primario);
}

/* Header*/
header {
    background-color: var(--color-primario);
}


/* Navegacion */


nav {
    background-color: var(--color-nav)
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;

}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;

}

nav a:hover {
    color: rgb(3, 5, 2);
}

/* Estilos estructura del body*/

h1 {
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
    
}

h2 {
    font-size: 24px;
    color: var(--color-texto);
    text-align: center;
}

h3 {
    font-size: 22px;
    color: var(--color-texto);
    text-align: center;
}

p {
    color: var(--color-texto);
    font-size: var(--tamañotexto-principal);
}

h4 {
    font-size: 20px;
}

.contenedor-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(213, 230, 233);

}



.inicio {
    color: var(--color-texto);
    font-size: var(--tamañotexto-principal);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}


#comoyudar {
    color: var(--color-texto);
    font-size: var(--tamañotexto-principal);
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#footer {
    font-size: var(--tamañotexto-principal);
    background-color: rgb(172, 209, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#footer p {
    color: black;
}

.contenedor-programa {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 10px;
    gap: 20px;

}
.programas{
    background-color: var(--color-secundario);
    padding: 10px;
   
    
}
.programas ul{
    padding: 10px;
}

.contenedor-nosotros {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;

}

.nosotros {
    flex: 1 1 300px;
    background-color: var(--color-secundario);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.nosotros ul {
    align-items: center;
    justify-content: center;
    list-style: none;

}

#contenedor-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;

}

#contenedor-contacto ul {
    text-align: center;
    gap: 10px;
    list-style: none;
}


/*Bootstrap/*/

.navbar .nav-link.active {
    color: rgb(194, 159, 4) !important;
}

.gaty {
    background-color: var(--color-nav);
    padding: 5rem 0;
}   
.gaty h2{
    color: white;
}

.lead{
    color: white;
}

.carousel-inner {
    line-height: 0; 
   
}  
/*Modo oscuro */


body.oscuro {
 background-color: var(--color-modoOscuro);
 color: var(--color-primario);
}



body.oscuro .contenedor-inicio{
    background-color:var(--color-modoOscuro);
    color: var(--color-primario);
}

body.oscuro .inicio h3 {
    color: var(--color-primario);
}


body.oscuro .inicio p {
    color: var(--color-primario);
}

body.oscuro #footer {
    background-color: rgb(12, 2, 2);
}

body.oscuro #footer p {
    color: var(--color-primario);
}

body.oscuro .gaty{
   background-color: rgb(10, 10, 10);
}


body.oscuro .container-fluid{
    background-color: var(--color-modoOscuro);
}

body.oscuro .nosotros{
    background-color:rgb(19, 0, 0);
    color: var(--color-primario);
}

body.oscuro .nosotros h3{
    color: var(--color-primario);
}
body.oscuro .nosotros p{
    color: var(--color-primario);
}

body.oscuro #contenedor-contacto h2{
    color: var(--color-primario);
}

body.oscuro .programas{
    background-color:rgb(19, 0, 0);
}

body.oscuro .programas h4{
   color: var(--color-primario);
}

body.oscuro .programas p{
    color: var(--color-primario);
}


body.oscuro .contenedor-programa h3{
    color: var(--color-primario);
}

body.oscuro .programas li{
    color: var(--color-primario);
}


body.oscuro #comoayudar p {
    color: var(--color-primario);
}

body.oscuro #comoayudar h3 {
    color: var(--color-primario);
}

/*Formulario*/
#formulario form{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}

#formulario{
    text-align: center;
}