/* VARIABLES*/

:root{
    --texto-principal : "Inter", sans-serif;
    --color-texto : rgb(0, 0, 0);
    --color-primario:  rgb(203, 223, 246);
    --color-nav: rgb(73, 29, 29);
    --tamañotexto-principal : 16px;

}
/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: var(--texto-principal), sans-serif;
    font-size: var(--tamañotexto-principal);
    line-height: 1.6;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--color-primario);
}
/* Header*/
header {
    background-color: var(--color-primario);
}


/* Navegacion */
nav a {
    text-decoration: none;
    font-size: 18px;
    color: var(--color-nav);
    font-weight: bold;

}

nav a:hover{
    color: rgb(13, 66, 0);
}

/* Estilos estructura del body*/

h1{
    font-size: 28px;
}
h2 {
    font-size: 24px;
    color: var(--color-texto);
}
h3{
     font-size: 22px;
     color: var(--color-texto);
}
p {
    color: var(--color-texto);
    font-size: var(--tamañotexto-principal);
}

h4{
    font-size:20px;
}

.inicio {
    color: var(--color-texto);
    background-color: var(--color-primario);
    font-size: var(--tamañotexto-principal) ;
    margin: 0;
    padding: 0;

}



#comoyudar { 
    color: var(--color-texto);
    font-size: var(--tamañotexto-principal);
}


#footer {
    font-size: var(--tamañotexto-principal);
    background-color: rgb(218, 255, 148);
}
#footer p{
    color: rgb(52,30, 4) ;
}

.programa {
    max-width: 1400px;
}